@model Snip.Models.Snippet

@{ bool canEdit = false; }

@if (Model != null)
{
    ViewBag.Title = Model.Title.OrIfEmpty(Model.Id);
    canEdit = StringUtils.GetAliasFromQualifiedName(User.Identity.Name).EqualsI(Model.Creator);
}
else
{
    ViewBag.Title = "Snippet not found";
    <p>Snippet does not exist.</p>
    return;
}

<h2>@Model.GetDisplayName()</h2>

<p>
    @{ Html.RenderPartial(Mvc.Shared.Views._SnipInfo, Model); }
    @if (canEdit)
    {
        @:[@Html.ActionLink("edit", Mvc.Snippet.Edit(Model.Id))]
        @:[@Html.ActionLink("delete", Mvc.Snippet.Delete(Model.Id))]
    }
</p>

<pre class="snippet"><code class="@(Model.Language == Language.None ? "no-highlight" : "") @(Model.Language == Language.Auto || Model.Language == Language.None ? "" : "language-" + Model.Language.ToString().ToLowerInvariant())">@Model.Content</code></pre>

@section Scripts
{
    <script src="@Links.Scripts.highlight_pack_js"></script>
    <script type="text/javascript">
        hljs.initHighlightingOnLoad();
    </script>
}